body {
   background-color: #424242;
   background: #D37F57;
   background: -webkit-linear-gradient(top left, #D37F57, #335C37);
   background: -moz-linear-gradient(top left, #D37F57, #335C37);
   background: linear-gradient(top left, #D37F57, #335C37);
   height: 1000px;
}
.container {
   max-width: 1200px;
   margin-left: auto;
   margin-right: auto;
}
form {
   display: flex;
   justify-content: center;
   align-items: center;  
}
#formTextToCipher {
   margin-top: 50px;
   margin-bottom: 200px;
}
textarea {
   resize: none;
   border: 5px solid transparent;
}
textarea:focus {
   outline: none;
   border: 5px solid rgb(255,155,81);
}
input {
   height: 120px;
   width: 120px;
   margin-left: 50px;
   margin-right: 50px;
   cursor: pointer;
   background-color: rgba(255,155,81,0.5);
   outline: 5px solid rgba(255,155,81,0.5);
   color: #fff;
   border: 5px solid transparent;
}
input:hover {
   background-color: rgba(255,155,81,1);
   outline: 5px solid rgba(255,155,81,1);
}
input:active {
   outline: 5px solid transparent;
}
span {
   display: block;
   text-align: center;
   line-height: 40px;
   font-size: 30px;
   cursor: pointer;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: 3px solid rgba(255,155,81,0.5);
   background-color: transparent;
   position: fixed;
   z-index: 999;
   top: 0;
}
span:hover {
   border: 3px solid rgba(255,155,81,1);
}
.descr {
   display: none;
   width: 500px;
   background-color: #bbb;
   position: absolute;
   font-size: 18px;
   text-align: left;
   padding: 10px;
}
span:hover .descr {
   display: block;
   
}









