body {
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    color: #474747;
}
.container {
    max-width: 1120px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: #000;
}
header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    margin-top: 100px;
}
.header-logo {
    font-size: 24px;
}
nav {
    margin-left: 100px;
}
.header-nav__link-item {
    font-size: 16px;
    margin-right: 45px;
    color: #777777;
    transition: 0.2s;
    position: relative;
}
.header-nav__link-item:last-child {
    margin-right: 0;
}
.header-nav__link-item:hover {
    color: #474747;
}
.header-search-panel {
    display: flex;
    margin-left: 20px;
}
.header-search-panel input {
    padding: 10px;
    border: none;
    background-color: #F4F4F4;
    height: 20px;
    font-size: 12px;
    width: 196px;
    color: #474747;
}
.header-search-panel button {
    padding: 10px;
    border: none;
    height: 40px;
    width: 40px;
    background-color: #FFBA9D;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}
.header-search-panel button:hover {
    opacity: 0.5;
}
.header-nav__link-item img {
    height: 10px;
    transform: rotate(90deg);
}
.link-item-active {
    border-bottom: 2px solid #777777;
    padding-bottom: 10px;
    color: #474747;
}
main {
    margin-top: 100px;
    display: flex;
}
.sidebar {
    width: 300px;
}
.sidebar-title {
    font-size: 24px;
    font-weight: 400;
    margin-top: 0;
}
.sidebar-content {
    line-height: 24px;
    font-size: 16px;
    font-weight: 300;
}
.sidebar-btn {
    text-transform: uppercase;
    margin-top: 15px;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.sidebar-btn button {
    height: 20px;
    width: 20px;
    position: relative;
    margin-left: 10px;
    border: none;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.sidebar-btn button img {
    width: 8px;
}
.sidebar__social-icons {
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.social-icons__item {
    margin-right: 25px;
}
.social-icons__item:last-child {
    margin-right: 0;
}
.sidebar__social-icons__item {
    width: 20px;
}
.sidebar__social-icons__item:hover {
    opacity: 0.5;
}
.blog-page {
    margin-left: 100px;
    width: 70%;
}
.blog-page__category {
    font-size: 12px;
    color: #777777;
}
.blog-page__title {
    font-weight: 400;
    font-size: 24px;
}
.blog-page__date-wrapper {
    display: flex;
    color: #777777;
    font-size: 12px;
}
.blog-page__img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}
.blog-page__date {
    border-right: 1px solid #DFDFDF;
    padding-right: 5px;
}
.blog-page__author {
    margin-left: 5px;
}
.blog-page__img {
    margin: 50px 0;
}
.blog-page__content {
    line-height: 28px;
}
.blog-page__content ul {
    padding-left: 20px;
}
.blog-page__content__text-border {
    padding-left: 20px;
    border-left: 1px solid #DFDFDF;
    display: block;
}
.blog-page__tags {
    display: flex;
    margin-top: 60px;
}
.blog-page__tags-item {
    background-color: #F4F4F4;
    margin-right: 5px;
    cursor: pointer;
    font-size: 12px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}
.blog-page__tags-item:last-child {
    margin-right: 0;
}
.blog-page__social {
    display: flex;
    align-items: center;
    margin-top: 40px;
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 25px;
}
.blog-page__social__share {
    margin-right: 20px;
    font-size: 12px;
}
.blog-page__social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.comment-page__title {
    margin-top: 45px;
    font-weight: 400;
    font-size: 19px;
    margin-bottom: 45px;
}
.comment-page__inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.comment-page__input-item {
    display: flex;
    flex-direction: column;
    width: 32%;
}
.comment-page__input-item input {
    height: 40px;
    margin-top: 5px;
    padding: 0 10px;
    background-color: #F4F4F4;
    border: none;
}
.comment-page__checkbox-wrapper {
    font-size: 12px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}
.comment-page__textarea-wrapper {
    display: flex;
    flex-direction: column;
}
.comment-page__textarea {
    height: 80px;
    margin-top: 5px;
    background-color: #F4F4F4;
    border: none;
    padding: 10px;
}
.comment-page__textarea-btn {
    background-color: #474747;
    color: #fff;
    border-radius: 3px;
    padding: 13px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    width: 90px;
    transition: 0.2s;
}
.comment-page__textarea-btn:hover {
    background-color: #777777;
}
.comment-page__comments-title {
    font-weight: 400;
    font-size: 19px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.comment-page__comment-item {
    padding-bottom: 30px;
    border-bottom: 1px solid  #DFDFDF;
    margin-bottom: 30px;
}
.comment-page__comment-item-wrapper {
    display: flex;
}
.comment-page__comment-item-answer {
    display: flex;
    padding-left: 90px;
    margin-top: 35px;
}
.comment-page__comment-item:last-child {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}
.comment-page__comment-item__avatar {
    width: 70px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 25px;
}
.comment-page__checkbox {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
.comment-page__comment-item-title-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.comment-page__comment-item__name {
    font-size: 19px;
    margin-right: 15px;
}
.comment-page__comment-item__time {
    color: #777777;
    font-weight: 300;
}
.comment-page__comment-item__content {
    line-height: 32px;
    font-size: 16px;
    margin-bottom: 20px;
}
.comment-page__comment-item__reply {
    cursor: pointer;
    transition: 0.2s;
}
.comment-page__comment-item__reply:hover {
    opacity: 0.5;
}
footer {
    background-color: #F4F4F4;
    padding: 40px 0;
    margin-top: 130px;
    position: relative;
}
.footer-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.footer__copyright {
    font-size: 12px;
    display: flex;
    align-items: center;
}
.footer__icon-up-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.footer__icon-up {
    background-color: #fff;
    height: 63px;
    width: 63px;
    position: relative;
    top: -80px;
    z-index: 1000;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__icon-up img {
    height: 10px;
    position: absolute;
    bottom: 12px;
    transform: rotate(-90deg);
}
.footer__social-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer__social-icons a {
    margin-right: 20px;
}
.nav-phone {
    display: none;
}
@media (max-width: 720px) {
    nav {
        display: none;
    }
    .header-logo {
        width: 50%;
    }
    .nav-phone {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 50%;
    }
    .nav-phone img {
        height: 24px;
        width: 24px;
    }
    header {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px;
        padding: 0 15px;
    }
    main {
        flex-direction: column;
        margin-top: 65px;
        padding: 0 15px;
    }
    .sidebar {
        order: 2;
    }
    .sidebar-title {
        margin-top: 45px;
    }
    .sidebar-btn {
        margin-top: 20px;
    }
    .blog-page {
        margin-left: 0;
        width: 100%;
        order: 1;
    }
    .blog-page__title {
        margin-bottom: 40px;
    }
    .blog-page__img {
        margin: 25px 0;
        height: 288px;
    }
    .comment-page__inputs {
        flex-direction: column;
        margin-bottom: 20px;
    }
    .comment-page__input-item input {
        width: calc(100% - 20px)  !important;
        margin-top: 10px;
    }
    .comment-page__input-item {
        margin-bottom: 25px;
        width: 100%;
        margin-top: 10px;
    }
    .comment-page__input-item:last-child {
        margin-bottom: 0;
    }
    .comment-page__checkbox {
        margin-right: 10px;
    }
    .comment-page__checkbox-wrapper {
        display: flex;
    }
    .comment-page__comment-item-title-wrapper {
        flex-direction: column;
        align-items: baseline;
    }
    .comment-page__comment-item__time {
        margin-top: 5px;
    }
    .comment-page__comment-item__content {
        word-wrap: anywhere;
    }
    .comment-page__textarea {
        margin-top: 10px;
    }
    .header-search-panel {
        margin-top: 50px;
        margin-left: 0;
        width: 100%;
        display: flex;
    }
    .header-search-panel input {
        width: 100%;
        height: 25px;
    }
    .header-search-panel button {
        width: 52px;
        height: 45px;
    }
    .footer {
        margin-right: 100px;
    }
    .footer-wrapper {
        display: flex;
        flex-direction: column;
        padding: 0 15px;
    }
    .footer__copyright {
        order: 2;
        margin-bottom: 45px;
    }
    .footer__icon-up-wrapper {
        order: 1;
    }
    .footer__social-icons {
        justify-content: flex-start;
        order: 3;
    }
}